.input {
  outline: none;
  background-color: rgb(255, 255, 255);
  border: 0;
  margin: 1px 0px 20px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  border-width: 0.5px;
  border-style: solid;
  border-color: black;
}
.input.names {
  align-items: center;
}


