.button {
  outline: none;
  width: 200px;
  height: 30px;
  border-radius: 5px;
  background-color: #00a400;
  color: white;
  box-sizing: border-box;
  padding: 20px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.button:hover {
  background-color: rgb(82, 177, 82);
}
